<footer id="contact" class="bg-takapi-blue-dark text-white">
    <div class="container mx-auto px-6 py-12">
        <div class="text-center">
            <a href="#" class="text-2xl font-bold">Takapi</a>
            <p class="mt-2 text-blue-100">Your Digital Wallet for Savings</p>
            <div class="mt-6 flex justify-center space-x-6">
                <a href="https://www.facebook.com/profile.php?id=61584641876502" class="hover:text-blue-200" target="_blank">Facebook</a>
                <a href="https://www.facebook.com/profile.php?id=61584641876502" class="hover:text-blue-200" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=61584641876502" class="hover:text-blue-200" target="_blank">Instagram</a>
            </div>
            <p class="mt-8 text-sm text-blue-200">&copy; 2025 Takapi. All rights reserved.</p>
        </div>
    </div>
</footer>